<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrito de compras</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
</head>
<body>
    <header class="main-header">
        <div class="top-header">
            <div class="logo-music">
                <img src="/Imagenes/Logo.png" alt="Logo Music for All">
            </div>
            <div class="form" action="#" method="GET">
                <input type="text" class="search_bar" placeholder="Busca productos, marcas ">
                <button type="submit" class="search_btn"><i class="fa-solid fa-magnifying-glass search_logo"></i></button>
            </div>

            <div class="logo-usuario">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="carrito">
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
        </div>

        <nav class="main-navbar">
            <ul>
                <li><a href="#">Categoria 1</a></li>
                <li><a href="#">Categoria 2</a></li>
                <li><a href="#">Categoria 3</a></li>
                <li><a href="#">Categoria 4</a></li>
            </ul>
        </nav>
        
    </header>

    <main>
        <section class="carrito-compras">
            <h3>Carrito de compras</h3>
            <div class="productos">
                <article class="producto">
                    <img src="/public/Imagenes/JAYTURSER_JT220DCS_02.jpg" alt="Foto de la guitarra" width="120px">
                    <div class="producto-descrip">
                        <h3 class="descripcion">Guitarra Eléctrica Les Paul Vintage Jay Turser JT-220D-CS</h3>
                        <p class="precio">$129,909.00</p>
                        <button>Eliminar</button>
                        <button>-</button>
                        <button>N</button>
                        <button>+</button>
                    </div>
                </article>
                <article class="producto">
                    <img src="/public/Imagenes/shure_srh240_03.jpg" alt="Foto de la guitarra" width="120px">
                    <div class="producto-descrip">
                        <h3 class="descripcion">Auriculares De Estudio Profesionales Cerrados SHURE SRH240A</h3>
                        <p class="precio">$30,773.00</p>
                        <button>Eliminar</button>
                        <button>-</button>
                        <button>N</button>
                        <button>+</button>
                    </div>
                </article>

                <div class="precio-total">
                    <h1>Precio Total</h1>
                </div>

                <div class="continuar-compra">
                    <button>Continuar compra</button>
                </div>
            </div>

        </section>
    </main>
    <footer></footer>

    
</body>
</html>