<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/headerFooter.css" rel ="stylesheet">
    <link href="css/detalles-productos.css" rel ="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <title></title>
</head>
<body>
    <header>
        <div class="top-header">
        <div class="logo-busqueda">
            <div class="logo"> 
                <a href="/"><img src=""></a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
        </div>
            <p class="copy-header">
                Hasta 12 cuotas sin interes <br> con o sin tarjeta de crédito
            </p>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Todos los productos</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Carrito <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
        <section class="producto">
            <img src="https://http2.mlstatic.com/D_NQ_NP_704227-MLA44115124280_112020-W.jpg" alt="Img-Producto" width="180px">
            <div class="cuadro-detalle">
                <p class="nombre">Guitarra de Abedul</p>
                <p class="precio">$4800</p>
                <p class="descuento">15% Off</p>
                <div class="agregar-extra">
                    <button>Agregar al carrito</button>
                    <button>-</button>
                    <button>+</button>
                </div>
            </div>
        </section>
        <section>
            <h3>Características</h3>
            <div class="CaracteristicasBox">
                <p class="pCaracteristicas">Material de la tapa: Abedul</p>
                <p class="pCaracteristicas">Materiales de las cuerdas: Nailon</p>
                <p class="pCaracteristicas">Materiales del mástil: Cedro</p>
                <p class="pCaracteristicas">Marca: Gracia</p>
                <p class="pCaracteristicas">Modelo: M1</p>
                <p class="pCaracteristicas">Color: Natural</p>
            </div>
        </section>
        <section>
            <h3>Descripción</h3>
            <p class="descripcion">Con un toque artesanal único plasmado en sus materiales, Gracia acompaña a la 
               historia musical desde el año 1870. Sus guitarras poseen alcance internacional y son 
               utilizadas tantos por principiantes como por grandes referentes de la música.</p>
        </section>
        <section>
            <h3>Productos Relacionados</h3>
            <section class="secImg">
            <img src="https://static.kemikcdn.com/2017/04/gv-ac851cbs_1.jpg" alt="" class="imgRelacionadas">
            <img src="https://http2.mlstatic.com/D_NQ_NP_745491-MLA50152025869_052022-W.jpg" alt="" class="imgRelacionadas">
            <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Violin_VL100.png" alt="" class="imgRelacionadas">
            <img src="http://d2r9epyceweg5n.cloudfront.net/stores/001/784/472/products/squier-stratocaster1-6eaad5d24e056aa4cb16287218558147-640-0.jpg" alt="" class="imgRelacionadas">
            </section>
        </section>
    </main>
    <footer>
        <div class="divfg">
            <article class="def">
                <h4>Defensa al consumidor</h4>
            </article>
            <article class="us">
                <h4>Sobre nosotros</h4>
            </article>
            <article class="redes">
                <h4>Nuestras redes</h4>
                <div class="div-redes">
                <p class="pRedes"><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></p>
                <p class="pRedes"><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></p>
                <p class="pRedes"><a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a></p>
                </div>
            </article>
        </div>
    </footer>
</body>
</html>