<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/headerFooter.css" rel ="stylesheet">
    <link href="css/index.css" rel ="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <title></title>
</head>

<body>
    <header>
        <div class="top-header">
        <div class="logo-busqueda">
            <div class="logo"> 
                <a href="/"><img src=""></a>
            </div>
            <div class="form" action="#" method="GET">
                <div class="input">Buscar productos, marcas y más</div>
                <div class="submit"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <p class="copy-header">
            Hasta 12 cuotas sin interes <br> con o sin tarjeta de crédito
        </p>
        </div>
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Todos los productos</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="rigth-navbar">
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Carrito <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>
    </header>
    <main>
    <section>
        <h3>Productos destacados</h3>
        <img src="https://static.kemikcdn.com/2017/04/gv-ac851cbs_1.jpg" alt="" width="120px">
        <img src="https://http2.mlstatic.com/D_NQ_NP_745491-MLA50152025869_052022-W.jpg" alt="" width="120px">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Violin_VL100.png" alt="" width="120px">
        <img src="http://d2r9epyceweg5n.cloudfront.net/stores/001/784/472/products/squier-stratocaster1-6eaad5d24e056aa4cb16287218558147-640-0.jpg"
            alt="" width="120px">
    </section>

    <section>
        <h3>Productos mas vendidos</h3>
        <img src="https://static.kemikcdn.com/2017/04/gv-ac851cbs_1.jpg" alt="" width="120px">
        <img src="https://http2.mlstatic.com/D_NQ_NP_745491-MLA50152025869_052022-W.jpg" alt="" width="120px">
        <img src="https://upload.wikimedia.org/wikipedia/commons/1/1b/Violin_VL100.png" alt="" width="120px">
        <img src="http://d2r9epyceweg5n.cloudfront.net/stores/001/784/472/products/squier-stratocaster1-6eaad5d24e056aa4cb16287218558147-640-0.jpg"
            alt="" width="120px">
    </section>
    </main>
    <footer>
        <div class="divfg">
            <article class="def">
                <h4>Defensa al consumidor</h4>
            </article>
            <article class="us">
                <h4>Sobre nosotros</h4>
            </article>
            <article class="redes">
                <h4>Nuestras redes</h4>
                <div class="div-redes">
                <p class="pRedes"><a href="#"><i class="fa-brands fa-instagram"></i>Instagram</a></p>
                <p class="pRedes"><a href="#"><i class="fa-brands fa-facebook"></i>Facebook</a></p>
                <p class="pRedes"><a href="#"><i class="fa-brands fa-twitter"></i>Twitter</a></p>
                </div>
            </article>
        </div>
    </footer>
</body>

</html>