<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel ="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
   
    
    <title>Iniciar sesión </title>
</head>
<body>
    <header>
        <div class="logo_contenedor">
            <img src="Imagenes/Logo_PC.png" rel ="icon">
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="#">Categoria1</a></li>
                    <li><a href="#">Categoria2</a></li>
                    <li><a href="#">Categoria3</a></li>
                    <li><a href="#">Categoria4</a></li>
                </ul>
                <ul>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Carrito de Compras</a></li>
                </ul>
            </nav>
        </div>
          <div class="form" action="#" method="GET">
                <input type="text" class="search_bar" placeholder="Busca productos, marcas ">
                <button type="submit" class="search_btn"><i class="fa-solid fa-magnifying-glass search_logo"></i></button>
          </div>
    </div>
    </header>
    <main>
        <div class="iniciar sesión">
        
            <h1>iniciar sesión</h1>
            <form action="/" method="POST">
               <!--igresa mail de usuario-->
               <p><label for="Email">
                   Email
                   <input id="Email" type="text" placeholder="Ingrese Email">
               </label></p>
               
               <div>
                    <!-- Ingresa contraseña -->
                   <p><label for="contraseña">
                           contraseña
                            <input id="contraseña" type="password" placeholder="ingrese contraseña">
                    </label></p>
               </div>
               <p><input type="submit" value="Continuar"></p>
               <div>
                   <a href="#">Crear cuenta</a>
               </div>
               <p><div>
                   <a href="#">Perdi mi contraseña</a>
               </div></p>
               

            </form>

    </div>
    </main>
</body>
</html>