<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/index.css" rel ="stylesheet">
    <link href="css/register.css" rel ="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
   
    <title>Regístrate</title>
</head>
<body>
    <header>
        <div class="logo_contenedor">
            <img src="Imagenes/Logo_PC.png" rel ="icon">
        </div>
        <div>
            <nav>
                <ul>
                    <li><a href="#">Categoria1</a></li>
                    <li><a href="#">Categoria2</a></li>
                    <li><a href="#">Categoria3</a></li>
                    <li><a href="#">Categoria4</a></li>
                </ul>
                <ul>
                    <li><a href="#">Perfil</a></li>
                    <li><a href="#">Carrito de Compras</a></li>
                </ul>
            </nav>
        </div>
          <div class="form" action="#" method="GET">
                <input type="text" class="search_bar" placeholder="Busca productos, marcas ">
                <button type="submit" class="search_btn"><i class="fa-solid fa-magnifying-glass search_logo"></i></button>
            </div>
    </header>
    <body>
        <div class="register_container">

            <form action = "/" method="GET" >
                <div>                       
                    <input type="text" placeholder= "Nombre y Apellido" size="15" name="nombreApellido" id="nombreApellido">
                </div>
                <div>
                    <input type="text" name="username" id="username" placeholder= "Nombre de usuario" size="15" > 
               </div>    
               <div>
                    <input type="password" name="password" id="password" placeholder= "Contraseña" size="15" > 
               </div>
               <div>
                    <input type="password" name="password" id="password" placeholder= "Repite la contraseña" size="15" > 
                </div>         
               <div>  
                    <input type="email" name="E-mail" id="email" placeholder="E-mail" size="15"> 
                </div>
                 
                 
                    <button type="submit">Continuar</button> 
                    <button type="">Iniciar Sesión</button> 
            </form>
        </div>
    </body>
</html>