*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: #fff;

}
/*header*/
header{
    background-color: #fb6a6a;
}
.logo_contenedor img{
    width: 150px;
    height: auto;
}
.search_bar{
    height:20px;
    width: 210px;
}
.search_btn {
    display: flex;
    box-sizing: border-box;
    background-color: #ebebeb;
    border:none;
    color: black;
    font-size: 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
header div.logo{
    display: flex;
    flex-basis: 50vw;
    max-width: 250px;   
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px; 
    align-items: center;    
}
.search_logo{
    align-self: center;
}
.top-header{
    display: flex;
    align-items: center;
}
.form{
    display: flex;
    max-width: 100%;
}
.bottom-nav{
    display: flex;
    justify-content:space-between;
}
.bottom-nav li{
    margin: 10px;
    margin-left: 16px;
}
/*main*/
main{
    background-color: #f3f3f3;
}
.producto{
    display: flex;
}
.cuadro-detalle{
    background-color: #f9f9f9;
    border: 1px solid #000;
}
/*footer*/
footer{
    background-color: #ebebeb;
}