    <%- include('./partials/head') %>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        <section class="carrito-compras">
            <h3>Carrito de compras</h3>
            <div class="productos">
                <article class="producto">
                    <img src="/public/Imagenes/JAYTURSER_JT220DCS_02.jpg" alt="Foto de la guitarra" width="120px">
                    <div class="producto-descrip">
                        <h3 class="descripcion">Guitarra Eléctrica Les Paul Vintage Jay Turser JT-220D-CS</h3>
                        <p class="precio">$129,909.00</p>
                        <button>Eliminar</button>
                        <button>-</button>
                        <button>N</button>
                        <button>+</button>
                    </div>
                </article>
                <article class="producto">
                    <img src="/public/Imagenes/shure_srh240_03.jpg" alt="Foto de la guitarra" width="120px">
                    <div class="producto-descrip">
                        <h3 class="descripcion">Auriculares De Estudio Profesionales Cerrados SHURE SRH240A</h3>
                        <p class="precio">$30,773.00</p>
                        <button>Eliminar</button>
                        <button>-</button>
                        <button>N</button>
                        <button>+</button>
                    </div>
                </article>

                <div class="precio-total">
                    <h1>Precio Total</h1>
                </div>

                <div class="continuar-compra">
                    <button>Continuar compra</button>
                </div>
            </div>

        </section>
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>