<%- include('./partials/head') %>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        <div class="login_box">
            <div class="logo_contenedor">
                <img src="/Imagenes/Logo_PC.png" rel ="icon">
            </div>
          <div>
             <h1>Vender Producto</h1>
             <form action="/products" method="POST" enctype="multipart/form-data">
                <p><label for="name">
                    <input id="name" type="text" placeholder="Nombre del producto" name ="name">
                </label></p>
                <div>
                    <p><label for="discount">
                        <input id="discount" type="text" placeholder="discount" name="discount">
                    </label></p>
                </div>
                <p><label for="categoria">
                    <select id="categoria" type="text" placeholder="categoria" name="categoria">
                        <option value="1">Nuevo</option>
                        <option value="2">En descuento</option>
                        <option value="3">Restock</option>
                    </select>
                </label></p>
                <div>
                    <p><label for="price">
                        <input id="price" type="text" placeholder="Precio" name = 'price'>
                    </label></p>
                </div>
                <div>
                    <p><label for="descripcion">
                        <input id="descripcion" type="text" placeholder="descripcion" name="descripcion">
                    </label></p>
                </div>
                <div>
                    <p><label for="color">
                        <input id="color" type="text" placeholder="Color" name = 'color'>
                    </label></p>
                </div>
                <div>
                    <p><label for ='image'>
                        Imagenes del Producto
                        <input type="file" name="image" id = 'image' accept=".jpg">
                    </label></p>
                </div>
                  <p><input type="submit" value="Continuar"></p>
            </form>
         </div>
        </div>
    </main>

    <%- include('./partials/footer') %>

</body>

</html>