<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vender Producto</title>
</head>
<body>
    <header>
        <!-- aca va el header-->
    </header>
    <main>
        <div class="login_box">
            <div class="logo_contenedor">
                <img src="Imagenes/Logo_PC.png" rel ="icon">
            </div>
          <div>
             <h1>Modificar Producto</h1>
             <form action="/" method="POST">
                <p><label for="Nombre del producto">
                    <input id="Nombre del producto" type="text" placeholder="Nombre del producto">
                </label></p>
                <div>
                    <p><label for="Descripción">
                        <input id="Descripción" type="text" placeholder="Descripción">
                    </label></p>
                </div>
                <div>
                    <p><label for="Categoría">
                        <input id="Categoría" type="text" placeholder="Categoría">
                    </label></p>
                </div>
                <div>
                    <p><label for="Precio">
                        <input id="Precio" type="text" placeholder="Precio">
                    </label></p>
                </div>
                <div>
                    <p><label for="Color">
                        <input id="Color" type="text" placeholder="Color">
                    </label></p>
                </div>
                <div>
                    <p><label>
                        Imagenes del Producto
                        <input type="file" name="avatar" accept=".jpg">
                    </label></p>
                </div>
                  <p><input type="submit" value="Continuar"></p>
            </form>
         </div>
        </div>
    </main>
    <footer>
        <!-- aca va el footer --> 
    </footer>
</body>
</html>