    <%- include('./partials/head') %>
    <link href="css/login.css" rel ="stylesheet">
    <link href="css/estilos.css" rel ="stylesheet">
</head>
<body>

    <%- include('./partials/header') %>
    
    <main>
        <div class="login_container">
            
          <div class="login_card">
                <div class="logo_form">
                    <img src="Imagenes/Logo_Oficial.png" rel ="icon">
                </div>
                <div class=" header_form">
                    <h1>Iniciar sesión</h1>
                </div>
                <div class="login_form">
                    <form action="/" method="POST">
                        <!--igresa mail de usuario-->
                        <div class="form-item">
                            <input id="Email" type="email" placeholder="Ingrese Email">
                        </div>
                    
                        <div>
                            <!-- Ingresa contraseña -->
                            <div class="form-item">
                                    <input id="contraseña" type="password" placeholder="Ingrese contraseña">
                            </div>
                        </div>
                        <div class="form-item"><input type="submit" value="Continuar"></div>
                        <div class="form-item-other">
                            <a href="#">Crear cuenta</a>
                        </div>
                        <div class="form-item-other">
                            <a href="#">Perdi mi contraseña</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    
    <%- include('./partials/footer') %>

</body>
</html>