    <%- include('./partials/head') %>
    <link href="css/estilos.css" rel ="stylesheet">
    <link href="/css/register.css" rel ="stylesheet">
    </head>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
    
        <div class="register_container">
            <div class="register_card">                
                <div class="logo_form">
                    <img src="Imagenes/Logo_Oficial.png" alt="logo">
                </div>
                <div class=" header_form">
                    <h1>Registrate</h1>
                </div>
                <div class="registro_form"> 
                    <!--Agrego el enctype -->              
                    <form action = "/users" method="POST" enctype="multipart/form-data">
                        <!--Agrego el input type: file para poder subir el archivo-->

                        <div class="form-item">
                            <input type="file" name="imagen" id="imagen">
					        <label for="imagen"> Adjunte una imagen </label>
                        </div>

                        <div class="form-item">                   
                            <input type="text" name="firstname" id="firstname" placeholder= "Nombre" size="15" > 
                        </div>  
                        <div class="form-item">                      
                           <input type="text" name="lastname" id="lastname" placeholder= "Apellido" size="15" >
                        </div>

                        <div class="form-item">                   
                            <input type="text" name="username" id="username" placeholder= "Nombre de usuario" size="15" > 
                        </div>    
                        <div class="form-item">                             
                            <input type="text" name="password" id="password" placeholder= "Contraseña" size="15" >                         
                        </div>
                        <div class="form-item">                           
                            <input type="text" name="password" id="password" placeholder= "Repite la contraseña" size="15" > 
                        </div>         
                        <div class="form-item">                          
                            <input type="email" name="email" id="email" placeholder= "E-mail" size="15" >                        
                        </div>
                        <div class="form-item">                   
                            <input type="text" name="category" id="category" placeholder= "categoria" size="15" > 
                        </div>                     
                            
                            <div class="form-item"><input type="submit" value="Continuar"></input> </div>
                            <div>
                                <a href="#">Iniciar Sesion</a>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <%- include('./partials/footer') %>


</body>     

</html>