    <header class="main-header">
        <!--Necesito dos filas-->
        <div class="top-header">
            <!--Fila logo, barra y copy-->
            <div id="contenedor">

                <a href="#" class="burguer-menu">
                    <i class="fas fa-bars"></i>
                </a>

                <div class="img-logo-container">
                    <div class="logo-mfa">
                        <a href="/">
                            <img src="/Imagenes/Logo_PC.png" alt="" style="width:100%" class="logo-img">
                        </a>
                        
                    </div>
                </div>

                <div class="form-search">
                    <form class= "search-form" action="/" method="get">
                        <div class="barra-busqueda">
                            <input class="buscar" type="search" name="searchbar" placeholder="Buscar productos, marcas">
                            <div class="search-icon">
                                <i class="fa-solid fa-magnifying-glass lupa"></i>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="utilities-container">

                    <div class="utilities-item d-none d-md-inline-block ">

                        <div class="text-center">
                            <a href="#" class="carrito">
                                <i class="fa-solid fa-circle-info"></i>
                            </a>
    
                            <span class="utilities-text">Ayuda</span>

                        </div>
    
                    </div>

                    <div class="utilities-item d-none d-md-inline-block">
                        <div class="text-center">
                            <a href="#" class="carrito">
                                <i class="fa-solid fa-user"></i>
                            </a>

                            <span class="utilities-text">Mi cuenta</span>

                        </div>
        
    
                    </div>

    

                    <div class="utilities-item">

                        <div class="text-center">
                            <a href="/carritodecompras" class="carrito">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
        
                        </div>

                        <span class="utilities-text">Mi carrito</span>

                    </div>

                    
                   

                </div>


                

                
            
                

                
            </div>

            <!-- <div class="form-search">
                <form class= "search-form" action="/" method="get">
                    <div class="barra-busqueda">
                        <input class="buscar" type="search" name="searchbar" placeholder="Buscar productos, marcas">
                        <div class="search-icon">
                            <i class="fa-solid fa-magnifying-glass lupa"></i>
                        </div>
                    </div>
                </form>
            </div> -->


          
        </div> 

        <div class="bottom-header">
            <div class="contain-navbar">
                <div class="nav-desktop">
                    <ul class="nav-desktop-list">
                        <li class="nav-item">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="/products">TODOS LOS PRODUCTOS
                                    <span>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="">ESTUDIO Y GRABACION
                                    <span>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="">INSTRUMENTOS VARIOS
                                    <span>
                                        <i class="fa-solid fa-chevron-down"></i>
                                    </span>
                                </a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="">QUIENES SOMOS
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        

    </header>